.header {
    text-align: center;
    height: 80px;
    background-color: grey;
    display: flex;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

.logo {
    font-size: 40px;
}

.header Link {
    align-items: center;
}

.header img {
    border-radius: 20px;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
    font-weight: bolder;
}

.header a:hover {
    color: orange;
}